@use "@/assets/styles/variables";

#__nuxt{
  height:100%;
}

html,body{
  word-break:keep-all;
  font-family:'Roboto';
  height:100%;
  line-height:1.25;
  -webkit-tap-highlight-color: transparent
}

.border-base{
  @apply border border-solid border-neutral-200;
}

